.button {
 height: 42px;
 width: 154px;
 background: linear-gradient(90deg, #5e77e9 -5.38%, #26a5f7 100%);
 border: none;
 font-family: 'Montserrat', sans-serif;
 font-style: normal;
 font-weight: 600;
 font-size: 15px;
 line-height: 18px;
 text-align: center;
 letter-spacing: 0.1em;
 text-transform: uppercase;
 color: #fff;
}
