.popup {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 1566px;
 height: 780px;
 display: none;
 transform: translate(-50%, -50%);
 color: #fff;
 transition: width 0.3s, height 0.3s;
 background-color: #150e1e;
 animation: leftRight 3s linear;

 &_open {
  display: block;
 }

 &_full {
  width: 100vw;
  height: 100vh;
 }

 &__container {
  width: 100%;
  height: 100%;
  display: flex;
  animation: leftRightInnerBlock 3s linear;
 }

 &__main {
  width: 100%;
  height: 100%;
  background-color: #150e1e;
  overflow: hidden;

  &_anim {
   animation: leftRight 1s;
  }
 }

 &__photoContainer {
  width: 100%;
  height: calc(100% - 78px);
  overflow: hidden;
 }

 &__photo {
  position: relative;
  left: 50%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
  transition: transform 0.3s;

  &_zoom {
   transform: scale(2) translateX(-25%);
  }

  &_full {
   height: calc(100% + 78px);
   max-height: 100vh;
   max-width: 100%;
   object-fit: contain;
  }
 }

 &__description {
  height: 78px;
  background-color: #28253c;
  padding: 21px 0 0 18px;

  &_full {
   height: 0;
  }
 }

 &__name {
  font: normal 600 15px/18px 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
 }

 &__about {
  font: italic 700 12px/13px 'Philosopher', sans-serif;
  color: #5d5f74;
  margin-top: 10px;
 }

 &__panel {
  width: 65px;
  background-color: #221d33;
 }

 &__button {
  width: 65px;
  height: 65px;
  background: none;
  font: normal 600 10px/12px 'Montserrat', sans-serif;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #c6c6d2;

  & + & {
   border-top: 2px solid #383b52;
  }
 }

 &__minisList {
  width: 148px;
  background-color: #28253c;
  transition: width 0.3s;

  &_hidden {
   width: 0;
  }
 }

 &__miniature {
  width: 100%;
  height: 90px;

  & + & {
   margin-top: -6px;
  }
 }
}

@keyframes leftRight {
 0% {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
 }
 100% {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
 }
}

@keyframes leftRightInnerBlock {
 0% {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
 }
 60% {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
 }
 100% {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
 }
}
